<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p class="">
    It's a very easy story!<br/>
    In my childhood, I played a lot with <strong>Larkinor</strong>. And i wanted to create an own rpg game, but have no idea at all.
    A few years ago, suddenly a name came in my thoughts, and I began to think about it.<br/>
    After years of unsuccessful tries, I changed technology, and ran again to it, for the last try.
    Aaaand here we are! :-)
  </p>
</div>
