<div class="jumbotron">
  <h1 class="display-4">The journey waits for you</h1>
  <p class="lead">
    Register to live trough this journey in the world of fantasy with <br/>
    fairies, monsters, seas, and a lot of magic ;-)
  </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Start!</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h3>Top Characters</h3>
    <% @chars_by_xp.each do |char| %>
        <h4><%= char.name %></h4>
        <p><%= char.xp %></p>
    <% end %>
  </div>

  <div class="col-lg-6">
    <h3>New Characters</h3>
    <% @chars_by_time_desc.each do |char| %>
        <h4><%= char.name %></h4>
        <p><%= char.xp %></p>
    <% end %>
  </div>
</div>
