<h1 class="display-4">The journey waits for you</h1>

<p class="lead">
  Register to live trough this journey in the world of fantasy with <br/>
  fairies, monsters, seas, and a lot of magic ;-)
</p>

<p>
  <a class="btn btn-lg btn-success" href="#" role="button">Start!</a>
</p>
